---
layout: archive
permalink: /tieng-viet/
title: "Trang Tiếng Việt"
author_profile: true
---
<!-- 
This will only display blog posts with the tag "vn".
-->

Chào mọi người,

cảm ơn đã ghé thăm trang của Hùng. Ở đây Hùng mong kể chuyện về mình và gắn kết với bạn. Từ nhỏ, Hùng thực sự không luôn có hình mẫu biểu cảm. Tuy nhiên, nhờ nhiều kinh nghiệm vừa vui vừa xấu, rốt cuối mình thành công mờ lòng và tỏ cảm giác sâu sắc của mình. Hùng hiểu một thói quen đó không hẳn tự nhiên giữa mình và mọi người thân trong cuộc sống của mình. Do đó, Hùng muốn đi bước đầu tiên bằng cách đăng một số bài viết. Nếu bạn có bất cứ gợi ý và bình luận, hãy không do dự liên lạc!

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% if post.tags contains 'vn' %}
  
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
  
  {% endif %}
{% endfor %}
